<!DOCTYPE html>
<html>
    <head>
        <title>Backgammon AI</title>
        
    </head>
    <body>
        <h1 style="text-align:center;">Backgammon AI</h1>
        <p style="text-align:center;">You play the 'O' checkers, the AI plays 'X'</p>
        <table align="center">
            <tr>
                {% for p in range(13,25) %}
                    <th width="20">{{p}}</th>
                {% endfor %}
                <th width="20">bar</th>
            </tr>
            {% for row in board %}
                <tr>
                    {% for c in row%}
                        <th width="20">{{c}}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                {% for p in range(12) %}
                    <th width="20">{{12-p}}</th>
                {% endfor %}
                <th width="20">bar</th>
            </tr>
        </table>
        <p style="text-align:center;">Moves must be in the form of startpoint/endpoint. Examples of legal moves:<br>24/22<br>19/16<br>4/off<br>bar/23</p>
        <form action='/game' method = "POST" style="text-align:center;">
            <br>
            Your move:<br>
            <input type="text" name="move">
            <!-- <input type="submit" value="submit" /> -->
        </form>
        {% if error_message %}
        <p style="color: red" align="center">{{error_message}}</p>
        {% endif %}
        <center><a href="/game" class="button">Move AI</a></center>
        <br>
        <br>
        <center><a href="/" class="button">New Game</a></center>
    </body>
</html>